<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceCraft</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/predefined.css">
  <link rel="stylesheet" href="../static/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Russo+One&display=swap" rel="stylesheet">
  <!--Link your CSS file here -->

</head>

<body>

<div class="fading">
    <!--Add a img tag for logo, heading tag for heading, and a anchor tag for linking to main page -->
    <img class="logo" src="../static/logo.png"></img>
    <h1>Rocket Launch</h1>
    <a class="btn btn-info" href="../templates/main.html">Launch Rocket</a>
</div>

<section class="context">

  <div class="crawl">
      <!--Use p tag for adding some content about this project. Use more then one p tag -->
      <p>Welcome commander to the first space mission as a captain be ready to explore the wilderness of space.</p>
      <p class="txt">But first perform the pre-flight check before launch.</p>

  </div>

</section>

   
</body>
</html>